@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}

*, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.btn {
  display: block;
  outline: none;
  border-radius: 0;
  border: none;
  padding: 14.5px 64px;
  color: #fff;
  background-color: #147493;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

.btn--transparent {
  border: 1px solid #147493;
  padding: 14.5px 72px;
  color: #147493;
  background-color: transparent;
}

.header {
  height: 120px;
  background-color: lightgray;
}

.joseph {
  padding-bottom: 120px;
}

.hero {
  background: url("../images/hero-bg.png") center top/cover no-repeat;
  padding: 202px 0;
  position: relative;
  z-index: 1;
}

.hero::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(83.81deg, #0B0B0B 18.35%, rgba(3, 3, 3, 0) 66.39%);
  opacity: 0.8;
  z-index: -1;
}

.hero__title {
  max-width: 750px;
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 200;
}

.hero__desc {
  max-width: 500px;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  font-weight: 200;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero__logo {
  position: absolute;
  top: 80px;
  right: 135px;
}

@media (max-width: 767px) {
  .hero {
    background-image: url("../images/hero-bg-mob.png");
    padding: 86px 0;
  }
  .hero__title {
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 22px;
  }
  .hero__desc {
    font-size: 15px;
    line-height: 22px;
  }
  .hero__logo {
    width: 74px;
    height: auto;
    display: block;
    top: 20px;
    right: 20px;
  }
}

.advanced {
  padding-top: 90px;
}

.advanced__title {
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 200;
}

.advanced__desc {
  margin-bottom: 78px;
  max-width: 650px;
  font-size: 16px;
  line-height: 26px;
}

.advanced__item {
  font-size: 20px;
  line-height: 30px;
  padding-left: 50px;
}

.advanced__item:not(:last-of-type) {
  margin-bottom: 25px;
}

.advanced-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advanced-img {
  position: relative;
}

.advanced__img-top {
  display: block;
  margin-right: 150px;
}

.advanced__img-bottom {
  position: absolute;
  right: 0;
  bottom: -100px;
}

@media (max-width: 1200px) {
  .advanced__img-top {
    width: 100%;
    max-width: 630px;
  }
  .advanced__img-bottom {
    width: 100%;
    max-width: 261px;
  }
}

@media (max-width: 767px) {
  .advanced {
    padding-top: 50px;
  }
  .advanced__title {
    margin-bottom: 28px;
    font-size: 26px;
    line-height: 35px;
  }
  .advanced__desc {
    margin-bottom: 36px;
    font-size: 15px;
    line-height: 22px;
  }
  .advanced-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advanced__img-bottom {
    max-width: 150px;
    margin-right: -20px;
  }
  .advanced__img-top {
    width: 80%;
    margin-left: -20px;
  }
  .advanced-list {
    margin-bottom: 21px;
  }
  .advanced__item {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
  }
}

.history {
  padding-top: 250px;
  padding-bottom: 120px;
  margin-top: -100px;
}

.history-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.history-img {
  position: relative;
  width: 50%;
}

.history__img-bottom {
  position: absolute;
  bottom: 0px;
  right: 40px;
}

.history-cell {
  width: 50%;
  padding-left: 115px;
  padding-top: 60px;
}

.history__title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 200;
  margin-bottom: 40px;
}

.history__desc {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 35px;
}

.history-awwards__title {
  font-size: 30px;
  line-height: 50px;
  margin-bottom: 11px;
  font-weight: 200;
}

.history-awwards__desc {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}

.history-awwards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history-awwards__item img {
  width: 100%;
  display: block;
  height: auto;
}

@media (max-width: 767px) {
  .history {
    padding-bottom: 60px;
  }
  .history__title {
    font-size: 26px;
    line-height: 50px;
    margin-bottom: 23px;
  }
  .history__desc {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 36px;
  }
  .history-img {
    display: none;
  }
  .history-cell {
    width: 100%;
    padding-left: 0;
    padding-top: 0;
  }
  .history-awwards__title {
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 50px;
  }
  .history-awwards__desc {
    margin-bottom: 40px;
  }
}

.founder {
  padding: 150px 0 113px;
}

.founder-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1480px) {
  .founder-content {
    padding: 0 0 0 20px;
  }
}

.founder-cell {
  width: 50%;
}

.founder-img {
  width: 50%;
}

.founder-img img {
  width: 100%;
  height: auto;
  display: block;
}

.founder__desc {
  max-width: 712px;
  padding-right: 50px;
  margin-left: auto;
  font-size: 40px;
  line-height: 50px;
  font-weight: 200;
}

.founder__desc span {
  display: block;
  font-size: 20px;
  margin-top: 32px;
  font-weight: 200;
}

@media (max-width: 767px) {
  .founder {
    padding-top: 42px;
    padding-bottom: 55px;
    border-top: 1px solid #e5e5e5;
  }
  .founder-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  .founder-cell {
    width: 100%;
    padding: 0 20px;
  }
  .founder-img {
    width: 100%;
  }
  .founder__desc {
    padding-right: 0;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 33px;
  }
  .founder__desc span {
    font-size: 15px;
    line-height: 24px;
    margin-top: 16px;
  }
}

.categories {
  padding-bottom: 10px;
}

.categories-content {
  padding-top: 80px;
  border-top: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 92px;
  width: calc(33.3% - 83px);
}

.categories__item img {
  width: 100%;
  display: block;
  height: auto;
  margin-bottom: 40px;
}

.categories__link {
  display: inline;
  font-size: 30px;
  line-height: 40px;
  font-weight: 200;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  position: relative;
}

.categories__link::before {
  position: absolute;
  content: url("../images/arrow.png");
  bottom: 5px;
  right: -50px;
}

@media (max-width: 1180px) {
  .categories-content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .categories__item {
    width: calc(33.3% - 24px);
  }
}

@media (max-width: 767px) {
  .categories-content {
    padding-top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .categories__item {
    width: calc(50% - 10px);
    margin-bottom: 50px;
  }
  .categories__item img {
    margin-bottom: 20px;
  }
  .categories__link {
    font-size: 18px;
    line-height: 24px;
  }
  .categories__link::before {
    display: none;
  }
}

.promo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.promo-content::before {
  position: absolute;
  content: '';
  width: 200%;
  height: 1px;
  background-color: rgba(153, 153, 153, 0.25);
  right: 0;
  top: 0px;
  z-index: -1;
}

.promo-cell {
  width: 50%;
}

.promo-img {
  max-width: 615px;
  margin-left: auto;
}

.promo-img img {
  width: 100%;
  height: auto;
}

.promo-info {
  max-width: 673px;
  width: 100%;
  padding-right: 170px;
  margin-left: auto;
}

.promo__desc {
  font-size: 30px;
  line-height: 40px;
  font-weight: 200;
  margin-bottom: 27px;
}

.promo__desc span {
  font-weight: 200;
}

.promo__btn {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

@media (max-width: 767px) {
  .promo-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .promo-cell {
    width: 100%;
  }
  .promo-info {
    padding-right: 0;
    margin-top: 50px;
  }
  .promo__desc {
    font-size: 26px;
    line-height: 35px;
  }
}

.hits {
  padding-top: 121px;
  padding-bottom: 40px;
}

.hits__title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 200;
  margin-bottom: 19px;
}

.hits-slider {
  padding-top: 80px;
  border-top: 1px solid rgba(153, 153, 153, 0.25);
}

.hits-item__desc {
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 46px;
  font-weight: 200;
}

.hits-item__price {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 21px;
}

.hits-item__btn {
  outline: none;
  border-radius: 0;
  border: none;
  padding: 14.5px 64px;
  color: #fff;
  background-color: #147493;
  cursor: pointer;
}

@media (max-width: 767px) {
  .hits {
    padding-top: 60px;
  }
  .hits__title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 15px;
  }
  .hits-slider {
    padding-top: 30px;
  }
  .hits-item {
    max-width: 163px;
  }
  .hits-item__btn {
    font-size: 14px;
    line-height: 1;
    padding: 14px 40px;
    width: 100%;
  }
  .hits-item__img {
    margin-bottom: 15px;
  }
  .hits-item__desc {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 23px;
  }
  .hits-item__price {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 16px;
  }
}

.popular {
  padding-top: 50px;
}

.popular__title {
  margin-bottom: 19px;
  font-size: 40px;
  line-height: 50px;
  font-weight: 200;
}

.popular-item {
  padding-top: 80px;
  border-top: 1px solid rgba(153, 153, 153, 0.25);
  margin-bottom: 80px;
}

.popular-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

.popular__subtitle {
  font-size: 30px;
  line-height: 40px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
  margin-right: 230px;
  font-weight: 200;
}

.popular__desc {
  max-width: 658px;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
}

.popular__desc p:not(:last-of-type) {
  margin-bottom: 24px;
}

.popular-slider__img {
  max-width: 260px;
  margin-bottom: 26px;
  margin-left: auto;
  margin-right: 10px;
}

.popular-slider__img img {
  width: 100%;
}

.popular-slider__desc {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 24px;
  font-weight: 200;
}

.popular-slider__price {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 20px;
}

.popular-more {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 50px auto 0 auto;
}

@media (max-width: 767px) {
  .popular {
    padding-top: 20px;
  }
  .popular__title {
    font-size: 26px;
    line-height: 36px;
    padding-bottom: 10px;
    margin-bottom: 0;
    border-bottom: 1px solid #e5e5e5;
  }
  .popular-item {
    padding-top: 41px;
    margin-bottom: 50px;
    border-top: none;
  }
  .popular-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 60px;
  }
  .popular__subtitle {
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 16px;
    margin-right: 0;
  }
  .popular-slider__item {
    max-width: 163px;
  }
  .popular-slider__img {
    margin: 0 0 14px 0;
  }
  .popular-slider__desc {
    margin-bottom: 23px;
    font-size: 15px;
    line-height: 22px;
  }
  .popular-slider__price {
    display: block;
    font-size: 15px;
    line-height: 1px;
    margin-bottom: 16px;
  }
  .popular-slider__btn {
    font-size: 14px;
    line-height: 1;
    padding: 16px 40px;
    width: 100%;
    max-width: 100%;
  }
  .popular-more {
    margin-top: 30px;
  }
  .popular-more__btn {
    padding: 9px 37px;
    font-size: 14px;
    line-height: 25px;
  }
}
/*# sourceMappingURL=style.css.map */